<ion-view view-title="{{buildReport[0].buildType.name}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider bar bar-balanced">
        Last build  #{{builds[0].number}}
      </div>
      <div class="item item-text-wrap">
        <div class="row responsive-sm">
          <div class="col-33" style="">
            <h1 class="assertive" ng-if="builds[0].status == 'FAILURE'">
              FAIL
            </h1>
            <h1 class="balanced" ng-if="builds[0].status == 'SUCCESS'">
              PASS
            </h1>
            <h1 class="balanced" ng-if="builds[0].status == 'ERROR'">
              ERROR
            </h1>
          </div>
          <div class="col">
            <strong>Date:  </strong>{{buildReport[0].date | date:"MM/dd/yy - h:mma"}} <br/>
            <strong>Agent: </strong>{{buildReport[0].agent.name}}
          </div>
        </div>
        <div class="row text-wrap">
          <p><strong>Result :</strong>{{buildReport[0].result}}</p>
        </div>

      </div>

    </div>


    <!-- Donut     -->
    <div class="card text-center">
      <div class="item item-divider bar bar-balanced">
        Summary
      </div>
      <div class="item item-text-wrap" style="height: 300px">
            <highchart config="chartDonut"></highchart>
      </div>
      <div class="item item-divider"> Build History
      </div>
      <ion-list>
        <ion-item ng-repeat="item in buildReport">
          <div class="item text-left item-text-wrap">
            <p><strong>Build #:</strong>{{item.number}}</p>
            <p><strong>date &nbsp&nbsp&nbsp:</strong>{{item.date | date:"MM/dd/yy - h:mma"}}</p>
            <p><strong>Status :</strong>{{item.status}}</p>
            <p><strong>Result :</strong>{{item.result}}</p>
          </div>
        </ion-item>
      </ion-list>



    </div>




  </ion-content>
  <div class="tabs tabs-icon-only">
    <a nav-clear class="tab-item disable-user-behavior active" title="Summary" nav-clear ui-sref="app.build">
      <i class="icon ion-home balanced"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Build History" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.build">
      <i class="icon ion-stats-bars balanced"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Build Report" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.build">
      <i class="icon ion-connection-bars balanced"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Another Report" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.build">
      <i class="icon ion-arrow-graph-up-right balanced"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Another Report" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.build">
      <i class="icon ion-speedometer balanced"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>

</ion-view>
