<ion-view view-title="Login">
  <ion-content>

    <form ng-submit="setGuest()">
      <div class="list">
        <div class="item">
        <div class="card" ng-click="GoToSetting()">
          <div class="item item-text-wrap text-center">
            {{activeProject}}
          </div>
        </div>
        </div>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Log in as Guest</button>
        </label>
      </div>
    </form>

    <form ng-submit="goQueuedBuild()">
      <div class="list">
        <div class="item">
          <button class="button button-block button-balanced" type="submit">Queued Builds</button>
        </div>
      </div>
    </form>




  </ion-content>
</ion-view>
