<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <div class="item item-divider" ng-click="add()">
        TeamCity Projects <span class="button-clear">(Tap to add more...)</span>
      </div>


      <!--<ion-toggle ng-repeat="item in availableProjects"-->
                  <!--ng-model="item.checked"-->
                  <!--ng-checked="item.selected">-->
        <!--{{ item.url }}-->
      <!--</ion-toggle>-->
      <!--<ion-list>-->
        <!--<ion-radio  ng-model="choice" ng-checked="item.selected">{{item.url}}</ion-radio>-->
      <!--</ion-list>-->
      <label class="item item-radio" ng-repeat="item in availableProjects" >
        <input type="radio" name="group" value="{{item.url}}" ng-checked="{{item.isChecked}}" >
        <div class="radio-content">
          <div class="item-content">
            {{item.url}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </div>
      </label>
      <div class="item item-divider">Other Settings</div>
      </div>

    </div>
  </ion-content>

</ion-view>
