<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <div class="item item-divider" ng-click="addx()">
        TeamCity Projects <!---<span class="button-clear">(Tap to add more...)</span>-->
      </div>


      <ion-toggle ng-repeat="item in availableProjects"
                  ng-model="item.checked"
                  ng-checked="item.selected">
        {{ item.endpoint }}
      </ion-toggle>
      <div class="item item-divider">Other Settings</div>
      </div>

    </div>
  </ion-content>

</ion-view>
