<ion-view view-title="My Test Page">
  <ion-content>
    <div class="row">
      <ionic-datepicker input-obj="datepickerObject_start">
        <div class="col">
          <button ng-click="to.onclick(model,options)" class="button button-outline button-balanced">
          <i class="icon ion-ios-calendar-outline"></i> {{datepickerObject_start.inputDate | date:datepickerObject_start.dateFormat}}
          </button>
        </div>
      </ionic-datepicker>

      <ionic-datepicker input-obj="datepickerObject_end">
        <div class="col">
      <button ng-click="to.onclick(model,options)" class="button button-outline button-balanced">
      <i class="icon ion-ios-calendar-outline"></i> {{datepickerObject_end.inputDate | date:datepickerObject_end.dateFormat}}
      </button>

    </div>
      </ionic-datepicker>
    </div>
      </ionic-datepicker>
    <ionic-datepicker input-obj="datepickerObject">
    <ion-item class="item-icon-right">
      <i ng-click="to.onclick(model,options)"
         class="icon ion-ios-calendar-outline"></i>
      {{datepickerObject.inputDate | date:datepickerObject.dateFormat}}
    </ion-item>
    </ionic-datepicker>
    <!--<ionic-datepicker input-obj="datepickerObject">-->
      <!--<i ng-click="to.onclick(model,options)"-->
         <!--class="icon ion-ios-calendar-outline"></i> {{datepickerObject.inputDate | date:datepickerObject.dateFormat}}</button>-->
    <!--</ionic-datepicker>-->
    {{selectedDate}}
  </ion-content>
</ion-view>
